.buttons {
    margin-top: 10px;
    margin-left: 2px;
    color: #aab8c2;
    display: flex;
    justify-content: space-around;
}

button {
    border: 'none' !important;
    background: 'none' !important;
    padding: 0;
    margin: 0;
    outline: 'none' !important;
}
